@import 'partials/settings';
@import 'partials/global';
@import 'partials/elements';

@import 'partials/header';
@import 'partials/cart';

@import 'partials/product';
.cart__order-confirmation .error{
    border: 2.5px solid red;
    border-radius: 4px;
}
.add-transition{
    opacity: 0.5;
    transition: none;
}
